In [1]:
import os

In [2]:
print(os.listdir())

['.ipynb_checkpoints', 'Decision Tree.ipynb', 'groupStudy.csv']

In [3]:
#import our libraries
import numpy as np
import pandas as pd

In [4]:
#import dataset
data = pd.read_csv('groupStudy.csv')

In [5]:
data

   Position  Hours of study  Marks scored
0   Group-1               1            45
1   Group-2               2            50
2   Group-3               3            60
3   Group-4               4            80
4   Group-5               5           110
5   Group-6               6           150
6   Group-7               7           200
7   Group-8               8           300
8   Group-9               9           500
9  Group-10              10          1000

In [6]:
X = data.iloc[: , 1:2 ].values
y = data.iloc[:, 2].values

In [9]:
X

array([[ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10]])

In [10]:
#Fit data into Decision Tree regressor
from sklearn.tree import DecisionTreeRegressor

In [11]:
regressor = DecisionTreeRegressor()
regressor.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [16]:
y_predicted = regressor.predict(20)

In [17]:
y_predicted

array([1000.])