# libraries needed

## lxml, html5lib, BeautifulSoup4

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [5]:
myFrame = pd.read_csv('example-csv.csv')

In [6]:
myFrame

      1     2     3
0    11    22    33
1   111   222   333
2  1111  2222  3333

In [9]:
myFrame.to_csv('output.csv', index=False)

In [10]:
pd.read_csv('output.csv')

      1     2     3
0    11    22    33
1   111   222   333
2  1111  2222  3333

In [12]:
pd.read_excel('example-excel.xlsx', sheet_name='Sheet1')

       1      2      3
0     11     22     33
1    111    222    333
2   1111   2222   3333
3  11111  22222  33333

In [13]:
pd.read_excel('exampleTwo.xlsx', sheet_name='Sheet2')

   123  234
0  123  234