In [3]:
import numpy as np
import pandas as pd

myIndex = [('Slot1', 1), ('Slot1', 2), ('Slot1', 3), ('Slot2', 1), ('Slot2', 2), ('Slot2', 3)]
myIndex = pd.MultiIndex.from_tuples(myIndex)

dataFrame = pd.DataFrame(np.random.randn(6,2), index=myIndex, columns=['Res1', 'Res2'])

In [4]:
dataFrame

             Res1      Res2
Slot1 1 -0.191769  0.728209
      2 -0.585918  1.241258
      3 -0.957630  0.245205
Slot2 1 -1.524661 -1.388163
      2  0.138975  1.077156
      3  0.676579 -0.667919

In [5]:
dataFrame.loc['Slot1']

       Res1      Res2
1 -0.191769  0.728209
2 -0.585918  1.241258
3 -0.957630  0.245205

In [6]:
dataFrame.loc['Slot1'].loc[2]

Res1   -0.585918
Res2    1.241258
Name: 2, dtype: float64

In [10]:
dataFrame.index.names = ['Slot', 'Var']

In [11]:
dataFrame

               Res1      Res2
Slot  Var
Slot1 1   -0.191769  0.728209
      2   -0.585918  1.241258
      3   -0.957630  0.245205
Slot2 1   -1.524661 -1.388163
      2    0.138975  1.077156
      3    0.676579 -0.667919

In [12]:
dataFrame.xs('Slot1')

         Res1      Res2
Var
1   -0.191769  0.728209
2   -0.585918  1.241258
3   -0.957630  0.245205

In [18]:
dataFrame.xs('Slot1').xs(2)

Res1   -0.585918
Res2    1.241258
Name: 2, dtype: float64

In [19]:
dataFrame.xs(2, level='Var')

           Res1      Res2
Slot
Slot1 -0.585918  1.241258
Slot2  0.138975  1.077156