In [1]:
import numpy as np
import pandas as pd

In [2]:
myData = {'me':[3,5, np.NaN], 'mf': [4,np.NaN, np.NaN], 'mof': [3,5,4]}

In [3]:
myData

{'me': [3, 5, nan], 'mf': [4, nan, nan], 'mof': [3, 5, 4]}

In [4]:
myDataFrame = pd.DataFrame(myData)

In [5]:
myDataFrame

    me   mf  mof
0  3.0  4.0    3
1  5.0  NaN    5
2  NaN  NaN    4

In [6]:
myDataFrame.dropna()

    me   mf  mof
0  3.0  4.0    3

In [8]:
myDataFrame.fillna(value=myDataFrame['me'].mean())

    me   mf  mof
0  3.0  4.0    3
1  5.0  4.0    5
2  4.0  4.0    4